<p>
	<section id="top">
		<div class="jumbotron masthead">
			<h1>Targeted Learning</h1>
			<h1>Social Learning</h1>
			<h1>Pair Me Up!</h1>
		</div>
	</section>
</p>
</br>

<div id="howitworks">How It Works</div>
	
<section id="howitworkstext">
	<div class="row">
		<div class= "span8 offset2">
			<div class="content">
				<ol>		
				<li>Sign up and join PairUp. It' free!</li>
				<li>Create as much of the "About" profile as you like. Moonlighters are welcome. Anonymity is fine. We respect your privacy.</li>
				<li>Post a request to learn something or teach something. Or, better yet, do both.</li>
				<li>Tag your request(s) with keywords so others can find you. Tags and catagories are important if you want to be found. They are your best chance of finding a resource match.</li>
				<li>Use the search feature, read the profiles, then contact others via site messaging to pursue learning or teaching opportunities. Contact up to 20 PairUp users per month--free.</li>
				<li>Get learning!</li>
				</ol>
			<div>
		<div>
	<div>
</section>

</br>
<h2>Which of these best describes you?</h2>
</br>
<div class=container span12>
  <div class="row">

		<div class="span3">
		<div class="content">
			<p>I want to learn something new.</p>
			<p>I want to expand my knowledge base.</p>
			<p>I want skills I can put on my resume and use in my job.</p>
   	</div>
   	</div>

		<div class="span3 offset1">
		<div class="content">
			<p>I want to share what I know with others.</p>
			<p>I want to build my reputation.</p>
			<p>I want to meet like-minded people and I might even want to make some money.</p>
   	</div>
   	</div>

		<div class="span3 offset1">
		<div class="content">
			<p>I cannot find a class near me that fits my budget.</p>
			<p>I want to explore learning possibilities without a big commitment.</p>
			<p>Targeting my learning is more efficient.</p>
   	</div>
   	</div>

	</div>
</div>
</br>