<p>
	<section id="top">
		<div class="jumbotron masthead">

			<h1>Pricing</h1>

		</div>
	</section>
</p>
</br>

</br>
<div id="howitworks">Pricing</div>
<section id="howitworkstext">
	<div class="row">
		<div class= "span8 offset2">
			<div class="content">
				<ol>
				<li>PairUp is free as long as it is used within the guidelines summarized here and in "How it Works."</li>			
				<li>If you are offering to teach, train, coach, mentor, or otherwise help others to learn about something, you may advertise your contact information in your PairUp profile for a monthly fee of $8.</li>
				<li>The monthly fee enables you, as a user of the site, to issue an unlimited number of "pings" within your target market to other members plus up to 120 user messaging contacts per month. There is currently no set limit to the number of pings a paying customer can issue, but only one ping may be issued to any given user per month. Be warned: If you start going crazy and abuse the pinging feature, we'll have to get off of our Lazy-Boys and take action, like sell you advertising space.</li>
				<li>A "ping" is a non-messaging notice, a link if you will, to let the other party know that you are interested in them or that something new is in the pipeline. It is up to the other party to check your profile and see what the buzz is about. Keep in mind that users may block messages if they desire, but not pings.</li> 
					<li>"So why would I pay the monthly fee?" you ask. Because private contact information like email addresses, locations, website links, twitter handles, and Facebook pages are normally filtered on PairUp. If you want customers to check you out and hopefully contact you, putting your name out there is a great way to do it. It's advertising and it's pretty cheap!</li>
				<li>You may cancel your monthly fee at any time and we won't complain or play the, "Oops, we forgot to cancel billing" game. It's an automated system. Really.</li>
				<li>So let's summarize in a more user-friendly way: PairUp has no interest in any transaction that may or may not take place between parties who are users of the site. That means, if you meet for coffee and learn how to program a billion-dollar tech startup business, we won't ask for a fee if any money changes hands. Not even if you buy somebody coffee.  Nor will you be charged a transaction fee if you find an entire classroom curriculum to meet your needs. And if all you want to do is get a free lesson on how to make Crêpe Suzette for your sweetie pie, we don't care. Well, we do, but we won't take any money for pairing you up with a French chef. All arrangements for educational services, whether formal or informal, are between the two parties involved and we could care less whether it's pro bono, tutorial, classroom, hands-on, or whatever. We simply want people to keep learning.</li>
				</ol>
			<div>
		<div>
	<div>
</section>