<p>
	<section id="top">
		<div class="jumbotron masthead">

			<h1>Terms Page</h1>

		</div>
	</section>
</p>

<h2>Which of these best describes you?</h2>

<div class=container span12>
  <div class="row">

		<div class="span4">
		<div class="content">
			<p>I want to learn something new.</p>
			<p>I want to improve my skills.</p>
			<p>I want to meet like-minded people.</p>
   	</div>
   	</div>

		<div class="span4">
		<div class="content">
			<p>I want to share my skills.</p>
			<p>I want to build my reputation.</p>
			<p>I want to meet like-minded people.</p>
   	</div>
   	</div>

		<div class="span4">
		<div class="content">
			<p>I cannot find a class near me that fits my budget.</p>
			<p>I learn better in non-traditional environments.</p>
			<p>I want to meet like-minded people.</p>
   	</div>
   	</div>

	</div>
</div>

</br>